<div class="container" *ngIf="locality">
    <div class="row">
        <div class="card col-md mx-1" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{ locality.name }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{ locality.country }}</h6>
            </div>
            <div class="card-footer bg-transparent">
              <a href="#" class="btn btn-primary" (click)="retrieveNewDays(locality.id)">Actualizar</a>
            </div>
          </div>
    </div>
    <form class="form-inline my-2 my-lg-0" >
      <input class="form-control mr-sm-2" [(ngModel)]="filterText" [ngModelOptions]="{standalone: true}" type="search" placeholder="Search" aria-label="Search">
    </form>
    <div class="row">
      <div class="card col-lg-4 mx-1"  *ngFor="let day of locality.days | DayFilterPipe: filterText">
        <div class="card-body">
          <h5 class="card-title">{{ day.date }}</h5>
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">{{ day.text }}</h6>
          </div>
          <div class="card-footer bg-transparent">
            <h6 class="card-subtitle mb-2">Temperatura max: {{ day.temperature_max }} {{ locality.information.temperature }}</h6>
            <h6 class="card-subtitle mb-2">Temperatura min: {{ day.temperature_min }} {{ locality.information.temperature }}</h6>
            <h6 class="card-subtitle mb-2">Humidad: {{ day.humidity }} {{ locality.information.humidity }}</h6>
            <h6 class="card-subtitle mb-2">Viento: {{ day.wind }} {{ locality.information.wind }}</h6>
          </div>
        </div>
      </div>
    </div>
</div>