<div class="container" *ngIf="localities as localities">
  <form class="form-inline my-2 my-lg-0" >
    <input class="form-control mr-sm-2" [(ngModel)]="filterText" [ngModelOptions]="{standalone: true}" type="search" placeholder="Search" aria-label="Search">
  </form>
    <div class="row">
        <div class="card col-lg-6 mx-1" style="width: 18rem;" *ngFor="let locality of localities | LocalityFilterPipe: filterText">
            <div class="card-body">
              <h5 class="card-title">{{ locality.name }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{ locality.country }}</h6>
              <a href="#" class="btn btn-primary" [routerLink]="['locality', locality.id]">Detalle</a>
              <a href="#" class="btn btn-danger" (click)="delete(locality.id)">Borrar</a>
            </div>
          </div>
    </div>
</div>